body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#667eea,#764ba2);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    padding:25px;
    border-radius:10px;
    width:350px;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
}

.input-section{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
}

button{
    padding:10px 15px;
    background:#667eea;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#5a67d8;
}

ul{
    list-style:none;
    padding:0;
    margin-top:20px;
}

li{
    display:flex;
    justify-content:space-between;
    background:#f4f4f4;
    padding:10px;
    margin-bottom:10px;
    border-radius:5px;
}

.completed{
    text-decoration:line-through;
    color:gray;
}
.complete-btn{
    background: green;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}

.complete-btn:hover{
    background: darkgreen;
}